.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.content {
  height: 100%;
  min-height: 650px; }

.container {
  position: relative;
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .order-link:hover {
    background-color: #cb411b; }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }
  @media screen and (max-width: 768px) {
    body, html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    body, html {
      font-size: 13px; } }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect 0 0 0 0;
  overflow: hidden; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.first {
  background-image: url("../img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem; }

.first__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burger__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }
  @media screen and (max-width: 768px) {
    .burger__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      padding: 0 20% 10%; } }

.burger__img {
  width: 100%;
  height: 100%; }

.burger {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .burger {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; } }

.burger__text {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.text1 {
  color: #f8b43a;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }

.text2 {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1; }

.arrow {
  position: absolute;
  top: 86%;
  left: 50%; }
  @media screen and (max-width: 768px) {
    .arrow {
      top: 91%;
      left: 46%; } }

.text1--second {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.125rem;
  margin-top: 9.375rem; }

.second {
  background: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem; }

.second__item {
  margin-right: 3.125rem;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .second__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 5%; } }

.second__list {
  margin-bottom: 10rem;
  width: 100%; }

.sec__img {
  margin-bottom: 3.125rem; }
  @media screen and (max-width: 480px) {
    .sec__img {
      margin-right: 5%; } }

.img__two {
  width: 5rem;
  height: 5rem; }

.second__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .second__title {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: left; } }

.second__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sec__text1 {
  font-family: 'Lifehack';
  font-weight: normal;
  font-size: 24.12px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.875rem; }

.sec__text2 {
  font-weight: 300;
  font-size: 14.01px;
  width: 100%; }

.rewews__item--0 {
  background: url("../img/bg/item--0.jpg") center center/cover no-repeat; }

.rewews__item--1 {
  background: url("../img/bg/item--1.jpg") center center/cover no-repeat; }

.rewews__item--2 {
  background: url("../img/bg/item--2.jpg") center center/cover no-repeat; }

.rewews__item--3 {
  background: url("../img/bg/item--3.jpg") center center/cover no-repeat; }

.rewews__item--4 {
  background: url("../img/bg/item--4.jpg") center center/cover no-repeat; }

.rewews__item--5 {
  background: url("../img/bg/item--5.jpg") center center/cover no-repeat; }

.rewews__item--6 {
  background: url("../img/bg/item--6.jpg") center center/cover no-repeat; }

.rewews__item--7 {
  background: url("../img/bg/item--7.jpg") center center/cover no-repeat; }

.rewews__item {
  vertical-align: top;
  width: calc(100% / 4);
  height: calc(100% / 2);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer; }
  .rewews__item:hover .rewews__drop {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .rewews__item {
      width: calc(100% / 2);
      height: calc(100% / 4); } }

@media screen and (max-width: 480px) {
  .rewews__drop {
    margin: 9% 0 0 14%; } }

.rewews__container {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  height: 100%; }

.rewews__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.rewews {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
  background-size: cover; }

.rewews__elem1 {
  font-family: 'Gagalin';
  font-size: 0.875rem;
  color: #fff;
  margin-top: 3.125rem;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .rewews__elem1 {
      margin-top: 0; } }
  @media screen and (max-width: 480px) {
    .rewews__elem1 {
      font-size: 1.5rem;
      width: 80%;
      text-align: center; } }

.rewews__elem2 {
  font-weight: 300;
  color: #fff;
  margin-top: 2.1875rem;
  line-height: 1.5;
  width: 12.5rem;
  font-size: 0.875rem;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .rewews__elem2 {
      margin-top: 1.1875rem; } }
  @media screen and (max-width: 480px) {
    .rewews__elem2 {
      display: none; } }

.rewews__btn {
  min-width: 8.125rem;
  height: 2.1875rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #2f3234;
  border-radius: 0.3125rem;
  padding: 0.6875rem 0.8125rem;
  font-size: 13px; }
  .rewews__btn:hover {
    color: #171819; }

.rewews__elem3 {
  margin-top: 1.5625rem;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .rewews__elem3 {
      margin-left: 12%; } }

.rewews__drop {
  opacity: 0;
  -webkit-transition: opaciti 0.5 sec;
  -o-transition: opaciti 0.5 sec;
  transition: opaciti 0.5 sec;
  margin-left: 1.375rem; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem; }

.logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }
  .nav__list {
    margin: 0;
    padding: 0; }
  @media screen and (max-width: 768px) {
    .nav {
      display: none; } }
  @media screen and (max-width: 480px) {
    .nav {
      display: none; } }

.nav__list {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__list:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__list:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle; }
  .nav__link:hover {
    text-decoration: underline; }

.pag_a {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.paginator__title {
  display: block;
  position: fixed;
  top: 12%;
  right: 11%; }
  @media screen and (max-width: 768px) {
    .paginator__title {
      display: none; } }
  @media screen and (max-width: 480px) {
    .paginator__title {
      display: none; } }

.paginator__list {
  margin-bottom: 0.9375rem;
  border: 1px;
  border-radius: 0.625rem;
  width: 1rem;
  height: 1rem; }
  .paginator__list:hover {
    border: 1px solid #fff; }

.command {
  background: url("../img/bg/Rectangle 2.jpg");
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem; }

@media screen and (max-width: 480px) {
  .comand__bar {
    margin-right: 20%; } }

.command__menu {
  background: url("../img/bg/Rectangle 1.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  padding-left: 6.0625rem;
  padding-top: 1.375rem; }
  @media screen and (max-width: 768px) {
    .command__menu {
      left: 0;
      width: 100%;
      text-align: center; } }

.com__text {
  font-family: 'Gagalin';
  font-size: 14px;
  color: #fff;
  cursor: pointer; }
  .com__text:before {
    display: inline-block;
    margin-right: 2%;
    vertical-align: middle;
    content: "";
    width: 0;
    height: 0;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    border-top: 0.625rem solid #f8b43a;
    margin: 0.75rem;
    padding-top: 0.625rem; }
  .com__text.com__text--activ {
    color: #f8b43a; }
  @media screen and (max-width: 480px) {
    .com__text {
      font-size: 1.5rem; } }
  @media screen and (max-width: 768px) {
    .com__text {
      font-size: 1.5625rem; } }

.comm__content--activ {
  height: 100px; }
  @media screen and (max-width: 768px) {
    .comm__content--activ {
      height: 100%; } }

.img_com {
  width: 6.75rem;
  height: 6.75rem;
  border-radius: 50%; }

.comm__work {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.625rem; }

.com__text2 {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  width: 12.5rem; }
  @media screen and (max-width: 768px) {
    .com__text2 {
      width: 75%;
      margin: 0 auto; } }

.comm__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .comm__content:active {
    height: 100px; }
  @media screen and (max-width: 768px) {
    .comm__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 7%; } }

.comm__img {
  margin-right: 2%; }

@media screen and (max-width: 480px) {
  .text1__command {
    text-align: center; } }

.menu_section {
  background-image: url("../img/bg/big-burger.jpg");
  background-position: 50% center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem; }

.text1__menu {
  color: #fff;
  left: 6.25rem;
  position: absolute; }

.menu__text {
  font-family: 'Gagalin';
  font-size: 2.5rem;
  color: #fff;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  position: relative;
  top: 78%;
  left: 30%;
  white-space: nowrap;
  z-index: 1;
  margin: 0 auto; }

.menu__burger--2 {
  background: url("../img/bg/burger--2.jpg") center center/cover no-repeat; }

.menu__burger--3 {
  background: url("../img/bg/burger--3.jpg") center center/cover no-repeat; }

.menu__burger--4 {
  background: url("../img/bg/burger--4.jpg") center center/cover no-repeat; }

.menu__burger {
  float: left;
  width: 5rem;
  height: 100%;
  display: block;
  position: relative; }

.fon__burger {
  height: 100%; }

.fon__burger--active {
  width: 34.375rem; }

.menu__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0; }

.menu__text1 {
  width: 0rem;
  height: 0;
  color: #fff;
  z-index: 1;
  position: relative;
  display: none; }

.menu__text1--active {
  width: 29.375rem;
  height: 100%;
  display: block;
  float: left;
  background: rgba(0, 0, 0, 0.8); }

.orderdelivery {
  background-image: url("../img/bg/Rectangle 6.jpg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% center;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  color: #fff; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 24%; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0 0; } }

.row__textarea {
  height: 35%;
  border: 3px solid transparent;
  border-radius: 0.3125rem;
  padding: 0.5rem 1.25rem;
  width: 100%;
  resize: none;
  outline: none; }
  .row__textarea:focus {
    border: 3px solid #f9b43b; }

.form__title {
  margin-bottom: 3%; }

.form__title--margin {
  margin-bottom: 1%; }

.form__textarea {
  width: 100%; }

.form__input {
  border: 3px solid transparent;
  border-radius: 0.3125rem;
  padding: 0.5rem 1.25rem;
  width: 100%;
  outline: none;
  margin-bottom: 5%; }
  .form__input:focus {
    border: 3px solid #f9b43b; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__block:last-child {
      margin-right: 0; } }

.new__link {
  text-decoration: none;
  color: #fff;
  margin-left: 0.9375rem; }

.form__block4 {
  display: block;
  margin-top: 5%; }

.form__radio {
  margin-top: 0.9375rem;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .form__radio {
      text-align: center; } }

.radio__text {
  margin-right: 0.9375rem; }

.radio__formborder {
  margin-right: 0.625rem;
  margin-bottom: 0.9375rem; }

@media screen and (max-width: 480px) {
  .btm {
    text-align: center; } }

.text1__over {
  text-align: center; }

.radio__chek {
  position: absolute;
  top: 0;
  left: -6249.9375rem; }

.form__btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap; }

.radio__fake {
  margin-right: 0.625rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  position: relative; }
  .radio__fake:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 50%;
    background: #e35028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.form__btm .radio__chek:checked + .radio__fake:after {
  width: 7px;
  height: 7px;
  background: #e35028; }

.form__btm--checkbox .radio__fake--border {
  border-radius: 0%; }

.radio__chek + .radio__fake:after {
  background: transparent; }

.form__btm--checkbox .radio__chek:checked + .radio__fake:after {
  background: url(../../img/icon/cheked.png);
  background-size: contain;
  width: 11px;
  height: 11px;
  background-repeat: no-repeat; }

.radio__btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__btm--checkbox {
  margin-top: 4%; }

.map__section {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem; }

.map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.footer {
  background: url("../img/bg/footer bg.jpg") center center/cover no-repeat;
  height: 2.5rem;
  width: 100%;
  position: absolute;
  top: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .footer {
      height: 3.5rem; } }
  @media screen and (max-width: 480px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      top: 87%;
      height: 6.625rem; } }

.footer__text {
  margin-left: 5%; }
  @media screen and (max-width: 480px) {
    .footer__text {
      text-align: center;
      margin-bottom: 2%;
      margin-top: 3%; } }

.footer__text1 {
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff; }

.footer__tel {
  text-decoration: none;
  color: #e45028;
  font-size: 0.875rem;
  font-weight: 700; }
  .footer__tel:before {
    content: "";
    background: url("../img/logo/phone.svg") center center/cover no-repeat;
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem; }

.footer__link--vk {
  background: url("../img/logo/vk.svg") center center/cover no-repeat; }

.footer__link--fb {
  background: url("../img/logo/fb.svg") center center/cover no-repeat; }

.footer__link--inst {
  background: url("../img/logo/inst.svg") center center/cover no-repeat; }

.footer__link--twitter {
  background: url("../img/logo/twitter.svg") center center/cover no-repeat; }

.footer__social {
  width: 28%; }

.footer__link {
  width: 1.25rem;
  height: 1.25rem;
  -webkit-filter: contrast(0%);
  filter: contrast(0%); }
  .footer__link:hover {
    -webkit-filter: contrast(100%);
    filter: contrast(100%); }

.footer__link--vk {
  height: 0.8125rem; }

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3%; }
  .footer__item:first-child {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  @media screen and (max-width: 768px) {
    .footer__item {
      margin-right: 8%; } }

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3%; }
  @media screen and (max-width: 480px) {
    .footer__list {
      margin-bottom: 8%;
      padding-left: 6%; } }

.byburger {
  background: url("../img/bg/Rectangle byburger.jpg");
  background-position: 100% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem; }

.byburger_container {
  height: 100%; }

.slider {
  width: 100%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .slider {
      height: 100%; } }

.slider__col {
  width: 50%; }

.slider__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 100%;
  height: 18.75rem; }

.slider__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .slider__list {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.text1__slider {
  color: #fff;
  font-size: 72px;
  line-height: 0.9;
  padding-top: 0;
  margin-bottom: 4%; }
  @media screen and (max-width: 768px) {
    .text1__slider {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .text1__slider {
      font-size: 50px;
      width: 18rem; } }

.slider__text {
  font-family: 'Ubuntu';
  color: #fff;
  font-size: 14px;
  font-weight: 300; }
  @media screen and (max-width: 768px) {
    .slider__text {
      text-align: center; } }

.slider__price {
  font-size: 72px;
  font-family: 'Gagalin';
  color: #e35028; }
  @media screen and (max-width: 480px) {
    .slider__price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.slider__price--small {
  font-size: 30px; }
  @media screen and (max-width: 480px) {
    .slider__price--small {
      margin-left: 2%; } }

.slider__elem {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .slider__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider__btm {
  margin-left: 5%;
  margin-top: 5%; }
  @media screen and (max-width: 480px) {
    .slider__btm {
      margin-left: 9%; } }

.component {
  width: 5.625rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .component {
      left: 26%; } }
  @media screen and (max-width: 480px) {
    .component {
      left: 5%; } }
  .component__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 8px;
    background-color: #f08c33;
    opacity: 0.8; }
    .component__btn:hover {
      background-color: #e35028; }
    .component__btn:hover + .component__drop {
      opacity: 1;
      top: 0; }
  .component__icon {
    font-size: 2.5rem; }
  .component__text {
    color: #fff;
    font-family: 'Gagalin';
    font-size: 0.875rem; }

.component__text--left {
  margin-left: 15%; }

.component__kkal {
  position: absolute;
  margin-left: 1.3125rem;
  bottom: 10%; }
  @media screen and (max-width: 768px) {
    .component__kkal {
      bottom: 89%;
      right: 32%; } }
  @media screen and (max-width: 480px) {
    .component__kkal {
      right: 5%; } }

.component__numeral {
  position: absolute;
  top: 33%;
  left: 20%;
  font-family: 'Gagalin';
  font-size: 0.9375rem;
  color: #fff; }

.component__drop {
  width: 16.875rem;
  height: 20.625rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 5.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 2%;
  opacity: 0;
  top: -10000px;
  z-index: 1000; }

.component__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?t5radq");
  src: url("../fonts/icomoon/icomoon.eot?t5radq#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?t5radq") format("truetype"), url("../fonts/icomoon/icomoon.woff?t5radq") format("woff"), url("../fonts/icomoon/icomoon.svg?t5radq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-scroll:before {
  content: "\e900";
  color: #fff; }

.icon-beef:before {
  content: "\e901";
  color: #e35028; }

.icon-buns:before {
  content: "\e902";
  color: #f9b43b; }

.icon-burger:before {
  content: "\e903";
  color: #fff; }

.icon-cheese:before {
  content: "\e904";
  color: #f9b43b; }

.icon-cucumber:before {
  content: "\e905";
  color: #8bc03f; }

.icon-hand:before {
  content: "\e906";
  color: #f9b43b; }

.icon-kkal:before {
  content: "\e907";
  color: #fff; }

.icon-map-marker .path1:before {
  content: "\e908";
  color: #e45028; }

.icon-map-marker .path2:before {
  content: "\e909";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path3:before {
  content: "\e90a";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path4:before {
  content: "\e90b";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path5:before {
  content: "\e90c";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path6:before {
  content: "\e90d";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path7:before {
  content: "\e90e";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path8:before {
  content: "\e90f";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path9:before {
  content: "\e910";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path10:before {
  content: "\e911";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path11:before {
  content: "\e912";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path12:before {
  content: "\e913";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path13:before {
  content: "\e914";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path14:before {
  content: "\e915";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path15:before {
  content: "\e916";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path16:before {
  content: "\e917";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path17:before {
  content: "\e918";
  margin-left: -0.796875em;
  color: white; }

.icon-meat:before {
  content: "\e919";
  color: #e35028; }

.icon-natural:before {
  content: "\e91a";
  color: #8bc03f; }

.icon-salad:before {
  content: "\e91b";
  color: #8bc03f; }

.icon-sauce:before {
  content: "\e91c";
  color: #e35028; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  position: absolute;
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  top: 50%;
  background-color: transparent;
  color: transparent;
  border: none;
  z-index: 1000;
  outline: none;
  cursor: pointer; }

.slick-next {
  right: auto;
  left: 100%; }
  @media screen and (max-width: 768px) {
    .slick-next {
      left: 97%; } }
  .slick-next:after {
    content: "\e900";
    color: #fff;
    font-family: 'icomoon';
    font-size: 0.9375rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg); }
    @media screen and (max-width: 768px) {
      .slick-next:after {
        left: 97%; } }

.slick-prev {
  right: 100%; }
  @media screen and (max-width: 768px) {
    .slick-prev {
      right: 97%; } }
  .slick-prev:after {
    content: "\e900";
    color: #fff;
    font-family: 'icomoon';
    font-size: 0.9375rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
