.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.content {
  height: 100%;
  min-height: 650px; }

.container {
  position: relative;
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 1100px;
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .order-link:hover {
    background-color: #cb411b; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }
  @media screen and (max-width: 768px) {
    body, html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    body, html {
      font-size: 13px; } }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect 0 0 0 0;
  overflow: hidden; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.first {
  background-image: url("../img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem; }

.first__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burger__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }
  @media screen and (max-width: 768px) {
    .burger__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      padding: 0 20% 10%; } }

.burger__img {
  width: 100%;
  height: 100%; }

.burger {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .burger {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; } }

.burger__text {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.text1 {
  color: #f8b43a;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }

.text2 {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1; }

.arrow {
  position: absolute;
  top: 86%;
  left: 50%; }
  @media screen and (max-width: 768px) {
    .arrow {
      display: none; } }

.text1--second {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.125rem;
  margin-top: 9.375rem; }

.second {
  background: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem; }

.second__item {
  margin-right: 3.125rem;
  width: 100%; }

.second__list {
  margin-bottom: 10rem;
  width: 100%; }

.sec__img {
  margin-bottom: 3.125rem; }

.second__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%; }

.second__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sec__text1 {
  font-family: 'Lifehack';
  font-weight: normal;
  font-size: 24.12px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.875rem; }

.sec__text2 {
  font-weight: 300;
  font-size: 14.01px;
  width: 100%; }

.rewews__item--0 {
  background: url("../img/bg/item--0.jpg") center center/cover no-repeat; }

.rewews__item--1 {
  background: url("../img/bg/item--1.jpg") center center/cover no-repeat; }

.rewews__item--2 {
  background: url("../img/bg/item--2.jpg") center center/cover no-repeat; }

.rewews__item--3 {
  background: url("../img/bg/item--3.jpg") center center/cover no-repeat; }

.rewews__item--4 {
  background: url("../img/bg/item--4.jpg") center center/cover no-repeat; }

.rewews__item--5 {
  background: url("../img/bg/item--5.jpg") center center/cover no-repeat; }

.rewews__item--6 {
  background: url("../img/bg/item--6.jpg") center center/cover no-repeat; }

.rewews__item--7 {
  background: url("../img/bg/item--7.jpg") center center/cover no-repeat; }

.rewews__item {
  vertical-align: top;
  width: calc(100% / 4);
  height: calc(100% / 2);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer; }
  .rewews__item:hover .rewews__drop {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .rewews__item {
      width: calc(100% / 2);
      height: calc(100% / 4); } }

.rewews__container {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  height: 100%; }

.rewews__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.rewews {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
  background-size: cover; }

.rewews__elem1 {
  font-family: 'Gagalin';
  font-size: 0.875rem;
  color: #fff;
  margin-top: 3.125rem;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .rewews__elem1 {
      margin-top: 0; } }

.rewews__elem2 {
  font-weight: 300;
  color: #fff;
  margin-top: 2.1875rem;
  line-height: 1.5;
  width: 12.5rem;
  font-size: 0.875rem;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .rewews__elem2 {
      margin-top: 1.1875rem; } }

.rewews__btn {
  min-width: 8.125rem;
  height: 2.1875rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #2f3234;
  border-radius: 0.3125rem;
  padding: 0.6875rem 0.8125rem;
  font-size: 13px; }
  .rewews__btn:hover {
    color: #171819; }

.rewews__elem3 {
  margin-top: 1.5625rem;
  width: 100%;
  height: 100%; }

.rewews__drop {
  opacity: 0;
  -webkit-transition: opaciti 0.5 sec;
  -o-transition: opaciti 0.5 sec;
  transition: opaciti 0.5 sec;
  margin-left: 1.375rem; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem; }

.logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }
  .nav__list {
    margin: 0;
    padding: 0; }
  @media screen and (max-width: 768px) {
    .nav {
      display: none; } }
  @media screen and (max-width: 480px) {
    .nav {
      display: none; } }

.nav__list {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__list:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__list:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle; }
  .nav__link:hover {
    text-decoration: underline; }

.pag_a {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #fff;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.paginator__title {
  display: block;
  position: fixed;
  top: 12%;
  right: 11%; }
  @media screen and (max-width: 768px) {
    .paginator__title {
      display: none; } }
  @media screen and (max-width: 480px) {
    .paginator__title {
      display: none; } }

.paginator__list {
  margin-bottom: 0.9375rem;
  border: 1px;
  border-radius: 0.625rem;
  width: 1rem;
  height: 1rem; }
  .paginator__list:hover {
    border: 1px solid #fff; }

.command {
  background: url("../img/bg/Rectangle 2.jpg");
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem; }

.command__menu {
  background: url("../img/bg/Rectangle 1.png");
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  padding-left: 6.0625rem;
  padding-top: 1.375rem; }
  @media screen and (max-width: 768px) {
    .command__menu {
      left: 0;
      width: 100%;
      text-align: center; } }

.com__text {
  font-family: 'Gagalin';
  font-size: 14px;
  color: #fff;
  cursor: pointer; }
  .com__text:before {
    vertical-align: middle;
    content: "";
    width: 0;
    height: 0;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #f8b43a;
    margin: 0.75rem;
    padding-top: 0.625rem; }
  .com__text:hover {
    color: #f8b43a; }

.comm__name:hover .comm__content {
  height: 6.875rem; }
  @media screen and (max-width: 768px) {
    .comm__name:hover .comm__content {
      height: 100%; } }

.img_com {
  width: 6.75rem;
  height: 6.75rem;
  border-radius: 50%; }

.comm__work {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.625rem; }

.com__text2 {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  width: 12.5rem; }
  @media screen and (max-width: 768px) {
    .com__text2 {
      width: 75%;
      margin: 0 auto; } }

.comm__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (max-width: 768px) {
    .comm__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 7%; } }

.comm__img {
  margin-right: 2%; }

.menu_section {
  background-image: url("../img/bg/big-burger.jpg");
  background-position: 50% center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.text1__menu {
  color: #fff;
  position: absolute;
  left: 6.25rem; }

.menu__text {
  font-family: 'Gagalin';
  font-size: 2.5rem;
  color: #fff;
  margin: 0 auto;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  white-space: nowrap;
  position: relative;
  bottom: 22%;
  right: 44%; }

.fon__burger--2 {
  background: url("../img/bg/burger--2.jpg") center center/cover no-repeat; }

.fon__burger--3 {
  background: url("../img/bg/burger--3.jpg") center center/cover no-repeat; }

.fon__burger--4 {
  background: url("../img/bg/burger--4.jpg") center center/cover no-repeat; }

.fon__burger {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 10%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .fon__burger:hover {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 100%; }

.orderdelivery {
  background-image: url("../img/bg/Rectangle 6.jpg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% center;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  color: #fff; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 12%; } }

.row__textarea {
  height: 28%;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.5rem 1.25rem;
  width: 100%;
  border-color: #f9b43b;
  outline: none; }
  .row__textarea:focus {
    border: solid #f9b43b; }

.form__textarea {
  width: 100%; }

.form__input {
  border: none;
  border-radius: 0.3125rem;
  padding: 0.5rem 1.25rem;
  width: 100%;
  border-color: #f9b43b;
  outline: none; }
  .form__input:focus {
    border: solid #f9b43b; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: none; }

.new__link {
  text-decoration: none;
  color: #fff;
  margin-left: 0.9375rem; }

.form__block4 {
  display: block; }

.form__radio {
  margin-top: 0.9375rem;
  margin-bottom: 1.25rem; }

.radio__form {
  margin-right: 0.625rem; }

.radio__text {
  margin-right: 0.9375rem; }

.radio__formborder {
  margin-right: 0.625rem;
  margin-bottom: 0.9375rem; }

.map__section {
  background-image: url("../img/bg/Layer 4.jpg");
  background-position: 50% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 40.625rem; }

.footer {
  background: #131313;
  height: 2.5rem;
  width: 100%;
  position: absolute; }
