@mixin circle ($width, $color) {
width:$width;
height:$width;
border-radius:$width/2;
background-color: $color;

}

//responsive
@function rem($px) {
  @return $px / 16px+0rem;
}



@mixin tringle ($color, $direction ){
width: 0;
height: 0;  
border:  solid transparent;
}