
.first{
  background-image: url('../img/bg/hero_bg.png');
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height:rem(650px);
}


.first__container{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;

}


.burger__main{
  width: 100%;
  display: flex;
  
  flex-grow:1;
  align-items: center;
  padding-bottom: 15%;
  @include tablets{
    flex-direction: column;
    text-align: center;
    padding: 0 20% 10%;
    
    
  }
}

.burger__img{
  width: 100%;
  height: 100%;
}


.burger{
  flex-basis: 50%;
  display: flex;
  @include tablets{
    align-items: flex-end;
  }

}
.burger__text{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.text1{
  color:$yellow;
  font-family: 'Gagalin';
  font-size: rem(72px);
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top:rem(60px);
}

.text2{
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: rem(65px);
  font-weight: 400;
  line-height: 1;
 

}

.arrow{
  position: absolute;
  top: 86%;
  left: 50%;
  @include tablets{
    display: none;
  }
}