
.first{
  background-image: url('../img/bg/hero_bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}


.first__container{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;

}


.burger__main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow:1;
  align-items: center;
  padding-bottom: 15%;
}


.burger, .burger__text{
  flex-basis: 50%;
  display: flex;

}
.burger__text{
  flex-direction: column;
  justify-content: center;
}


.text1{
  color:$yellow;
  font-family: 'Gagalin';
  font-size: rem(72px);
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px;
}

.text2{
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: rem(65px);
  font-weight: 400;
  line-height: 1;
 

}