.burger{
  background:center center no-repeat;
  height:425px;
  width: 48%;
float: left;
padding-left: 100px;
background-image: url('../../img/burger/drops.png');
}

.text1{
  font-family: 'Gagalin';
  font-weight: normal;
  font-size: 72px;
  color: #f9b43b;
  margin-bottom: 51px;
}

.text2{
  font-family: 'Lifehack';
  font-weight: 500;
  font-size: 63px;
  color: #fff;

}

.burger__text{
  padding-left: 0px;
  padding-top: 133px;
  background-image: none;
}