.byburger{
  background: url('../img/bg/Rectangle\ byburger.jpg');
  background-position: 100% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: rem(650px);

}

.byburger_container{
  height: 100%;
  @include tablets{
    height: 80%;
  }
  @include phones{
    height: 75%;
  }
  
}

.slider{
  width: 100%;
  height: 50%;
  @include tablets{
    height: 100%;
  }

}

.slider__col{
  width: 50%;
  
}




.slider__img{
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 100%;
  height: rem(300px);
}


.slider__list{
  height: 100%;
  display: flex;
 @include tablets{
   align-items: center;

 }
 
}

.text1__slider{
  color: #fff;
  font-size: 72px;
  line-height: 0.9;
  padding-top: 0;
  margin-bottom: 4%;
  @include tablets{
    text-align: center;
  }

  @include phones{
    font-size: 50px;
    width: 18rem;
  }

}

.slider__text{
  font-family: 'Ubuntu';
  color:#fff;
  font-size: 14px;
  font-weight: 300;

@include tablets{
  text-align: center;
  
}



}


.slider__price{
  font-size: 72px;
  font-family: 'Gagalin';
  color:#e35028;
@include phones {
  display: flex;
  align-items: center;
}
 
}

.slider__price--small{
  font-size: 30px;

  @include phones {
    margin-left: 2%;
  }

}

.slider__elem{
   position: relative;
  display: flex !important;
   width: 100%;
   height: 100%;
   @include tablets{
     flex-direction: column;
     align-items: center;
   }

   
}

.slider__info{
  display: flex;
  align-items: center;
}

.slider__btm{
  margin-left: 5%;
  margin-top: 5%;

  @include phones{
    margin-left: 9%;
  }

}

.component{
  width: rem(90px);
  position: absolute;
  display: flex;
  cursor: pointer;
 

  
  &:hover >.component__drop  {
    opacity: 1;
    top: 0;
    left: rem(90px);
  }
  @include tablets{
    left: 26%;
  }

  @include phones{
    left: 5%;
  }


  &__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: rem(90px);
    height: rem(90px);
    border-radius: 8px;
    background-color: #f08c33;
    opacity: 0.8;
  
     &:hover{
       background-color: #e35028;
     } 


    
  }

 &__icon{
 font-size: rem(40px);

 }
  
 &__text{
   color: #fff;
   font-family: 'Gagalin';
   font-size: rem(14px);
 }
}

.component__text--left{
  margin-left: 15%;
}

.component__kkal{
  position: absolute;
  margin-left: rem(21px);
  bottom: 10%;
  @include tablets{
    bottom: 89%;
    right: 32%;
  }

  @include phones{
    
    right: 5%;
  }


}

.component__numeral{
  position: absolute;
  top: 33%;
  left: 20%;
  font-family: 'Gagalin';
  font-size:rem(15px);
  color:#fff;
}



.component__drop{
  width: rem(270px);
  height: 16.875;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: rem(91px);
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  opacity: 0;
  top:-10000px;
  z-index: 1000;
  padding: 10px;
  :hover{
    opacity: 1;
  }

}


.component__table{
  display: flex;
  justify-content: center;
  justify-content: flex-start;

  
}


.component__tablicon {
  font-size: 30px;
}


.component__name{
  padding-right: 30%;
}

.component__weight{
  padding-left: 80px;
  @include tablets {
    padding-left: 70px;
  }
  @include phones {
    padding-left: 60px;
  }
}