.command{
  background:  url('../img/bg/Rectangle 2.jpg') ;
  background-repeat: no-repeat;
background-position: 100% center;
background-size: cover;
position: relative;
width: 100%;
height: 100vh;
min-height:rem(650px);
}


.comand__bar{
  @include phones{
    margin-right: 20%;
  }
}


.command__menu{
  background: url('../img/bg/Rectangle 1.png');
  position: absolute;
  width: 100%;
  height: 100%;
  left:  50%;
  padding-left:rem( 97px);
  padding-top: rem(22px);
  @include tablets{
    left: 0;
    width: 100%;
    text-align: center;
  }
}



.com__text{
  font-family: 'Gagalin';
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  &:before{
    display: inline-block;
    margin-right: 2%;
    vertical-align:middle;
    content: "";
    width: 0; height: 0;
    border-left:rem(10px) solid transparent;
    border-right: rem(10px) solid transparent;
    border-top: rem(10px) solid $yellow;
    margin: rem(12px);
    padding-top:rem(10px);
  }
   &.com__text--activ {
     color:$yellow;
     
   }
 @include phones {
   font-size: rem(24px);
 }
 @include tablets {
  font-size: rem(25px);
}
   
}




.comm__content--activ{
  height: 100px;
  @include tablets{
    height: 100%;
  }

}



.img_com{
  width:rem(108px);
  height:rem(108px);
  border-radius: 50%;
  
}

.comm__work{
  color:#fff;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: rem(10px);
  
}

.com__text2{
  color:#fff;
  font-size: 14px;
  font-weight: 300;
  width: rem(200px);
  @include tablets{
    width: 75%;
    margin: 0 auto;
  }

  
}

.comm__content{
  display: flex;
  overflow: hidden;
  height:0 ;
  transition: 0.5s;
  &:active{
    height: 100px;
  }
  @include tablets{
    flex-direction: column;
    padding-left: 7%;
  }

}

.comm__img{
  margin-right:2%;
}

.text1__command{
  @include phones{
    text-align: center;
  }
}

