.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(10px);
}

.logo {
  margin-right: auto;
}

.nav {
  margin-right: rem(15px);
  &__list {
    margin: 0;
    padding: 0;
  }
  @include tablets{
    display: none;
  }
  
  @include phones{
    display: none;
  }
}



.nav__list {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    @include circle(5px, #fff);
    margin:0 rem(12px);
  }
  &:last-child:after {
    display: none;
  }
}


.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  &:hover {
    text-decoration: underline;
  }
}