.pag_a{
 @include circle(5px, #fff);
 display: block;
position: relative;
top:50%;
left: 50%;
transform: translate(-50%, -50%);

  
}

.paginator__title{
  display: block;
 position: fixed;
  top:12%;
  right: 11%;
  @include tablets{
    display: none;
  }

  @include phones{
    display: none;
  }

}

.paginator__list{
  
 margin-bottom: rem(15px);
 border: 1px  ;
  border-radius: rem(10px);
  width: rem(16px);
  height: rem(16px);
  &:active{
    border: 1px solid #fff ;
  }
   
 
  
}