@each $rewews in(item--0, item--1, item--2, item--3, item--4, item--5, item--6, item--7){
  .rewews__#{$rewews}{
    background: url('../img/bg/#{$rewews}.jpg') center center /cover no-repeat;
  }
}

.rewews__item{
  vertical-align: top;
  width: calc(100% / 4);
  height: calc(100% / 2);
  filter: grayscale(100%);
  cursor: pointer;
  &:hover .rewews__drop{
    opacity: 1;
  }
@include tablets{
  width: calc(100% / 2);
  height: calc(100% / 4);
}

}


.rewews__drop{
  @include phones{
    margin: 9% 0 0 14%;
  }
}


.rewews__container{
padding-right: 0px;
padding-left: 0px;
width: 100%;
height: 100%;

}
.rewews__title{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}


.rewews{
  width: 100%;
  height: 100vh;
  min-height: rem(650px);
position: relative;
background-size: cover;
}


.rewews__elem1{
  font-family: 'Gagalin';
  font-size: rem(14px);
  color: #fff;
  margin-top: rem(50px);
  width: 100%;
  height: 100%;

  @include tablets{
    margin-top: 0;
  }

  
  @include phones{
    font-size: rem(24px);
    width: 80%;
    text-align: center;
  }
}


.rewews__elem2{
  font-weight: 300;
  color: #fff;
  margin-top: rem(35px);
  line-height: 1.5;
  width: rem(200px);
  font-size: rem(14px);
  width: 100%;
  height: 100%;

  @include tablets{
    margin-top: 1.1875rem;
  }

  @include phones{
    display:none;
  }
}


.rewews__btn{
 min-width: rem(130px);
height: rem(35px);
color: #fff;
text-decoration: none;
text-transform: uppercase;
background-color: #2f3234;
border-radius: rem(5px);
padding: rem(11px) rem(13px);
font-size: 13px;
&:hover {
  color: darken($color: #2f3234, $amount: 10%);
}

}

.rewews__elem3{
  margin-top: rem(25px);
  width: 100%;
  height: 100%;
  
  @include phones{
   margin-left: 12%;
  }
}


.rewews__drop{
  opacity: 0;
  transition: opaciti 0.5 sec;
  margin-left: rem(22px);
  
 
}