.text1--second{
  color: $dark;
  padding: 0;
  margin-bottom: rem(50px);
  margin-top: rem(150px);
}

.second{
background: url('../img/bg/best-bg.png');
background-repeat: no-repeat;
background-position: 100% center;
background-size: cover;
position: relative;
width: 100%;
height: 100vh;
min-height: rem(650px);

}
.second__item{
  margin-right: rem(50px);
  width: 100%;
  @include phones{
    display:flex;
    margin-bottom: 5%;
  }
}

.second__list{
  margin-bottom: rem(160px);
  width: 100%;
}

.sec__img{

  margin-bottom: rem(50px);
  @include phones {
    margin-right: 5%;
  }
  
}

.img__two{
  width: rem(80px);
  height: rem(80px);
}




.second__title{
  display: flex;
  text-align: center;
  width: 100%;
  @include phones {
    flex-direction: column;
    text-align: left;
  }
 
}

.second__container{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center !important;
align-items:center !important;
}


.sec__text1{
  font-family: 'Lifehack';
  font-weight: normal;
  font-size:24.12px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: rem(30px);

}

.sec__text2{
  font-weight: 300;
  font-size: 14.01px;
  width: 100%;
}