.text1--second{
  color: $dark;
  padding: 0;
  margin-bottom: rem(50px);
  margin-top: rem(150px);
}

.second{
background: url('../img/bg/best-bg.png');
background-repeat: no-repeat;
background-position: 50% center;
background-size: cover;
position: relative;
width: 100%;
height: 100vh;
min-height: 650px;

}
.second__item{
  margin-right: 50px;
}

.second__list{
  margin-bottom: 160px;
}

.sec__img{
  margin-bottom: 50px;
}

.second__title{
  display: flex;
  text-align: center;
 
}

.second__container{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
}


.sec__text1{
  font-family: 'Lifehack';
  font-weight: normal;
  font-size:24.12px;
  width: 215px;
  margin: 0 auto;
  margin-bottom: 30px;

}

.sec__text2{
  font-weight: 300;
  font-size: 14.01px;
  width: 300px;
}